.idea
.venv
.env.*
.pyc
__pycache__/config.cpython-312.pyc
__pycache__/set_commands.cpython-312.pyc
__pycache__/strings.cpython-312.pyc
data/__pycache__/__all_models.cpython-312.pyc
data/__pycache__/animal_filter_to_animal_tag.cpython-312.pyc
data/__pycache__/animal_requests.cpython-312.pyc
data/__pycache__/animal_to_animal_tag.cpython-312.pyc
data/__pycache__/animals_filters.cpython-312.pyc
data/__pycache__/animals_images.cpython-312.pyc
data/__pycache__/animals_tags.cpython-312.pyc
data/__pycache__/animals.cpython-312.pyc
data/__pycache__/db_session.cpython-312.pyc
data/__pycache__/users.cpython-312.pyc
filters/__pycache__/__init__.cpython-312.pyc
filters/__pycache__/admin_filter.cpython-312.pyc
filters/__pycache__/states_group_filter.cpython-312.pyc
filters/__pycache__/superadmin_filter.cpython-312.pyc
handlers/__pycache__/__init__.cpython-312.pyc
handlers/__pycache__/commands_handlers.cpython-312.pyc
handlers/__pycache__/default_callback_handlers.cpython-312.pyc
handlers/admin/__pycache__/__init__.cpython-312.pyc
handlers/admin/animals/__pycache__/__init__.cpython-312.pyc
handlers/admin/animals/__pycache__/add_animal_handlers.cpython-312.pyc
handlers/admin/animals/__pycache__/callback_handlers.cpython-312.pyc
handlers/admin/animals/__pycache__/delete_animal_handlers.cpython-312.pyc
handlers/admin/animals/__pycache__/guardianship_handlers.cpython-312.pyc
handlers/admin/animals/__pycache__/update_animal_handlers.cpython-312.pyc
handlers/admin/news/__pycache__/__init__.cpython-312.pyc
handlers/admin/news/__pycache__/callback_handlers.cpython-312.pyc
handlers/admin/news/__pycache__/publish_news.cpython-312.pyc
handlers/user/__pycache__/__init__.cpython-312.pyc
handlers/user/__pycache__/callback_handlers.cpython-312.pyc
handlers/user/__pycache__/watch_animals_handlers.cpython-312.pyc
keyboards/__pycache__/__init__.cpython-312.pyc
keyboards/__pycache__/about_keyboard.cpython-312.pyc
keyboards/__pycache__/accept_adding_animal_keyboard.cpython-312.pyc
keyboards/__pycache__/admin_animals_keyboard.cpython-312.pyc
keyboards/__pycache__/admin_menu_keyboard.cpython-312.pyc
keyboards/__pycache__/admin_update_animal_keyboard.cpython-312.pyc
keyboards/__pycache__/animal_filter_keyboard.cpython-312.pyc
keyboards/__pycache__/animal_tags_filter_keyboard.cpython-312.pyc
keyboards/__pycache__/back_keyboard.cpython-312.pyc
keyboards/__pycache__/cancel_keyboard.cpython-312.pyc
keyboards/__pycache__/close_animals_admin_list_keyboard.cpython-312.pyc
keyboards/__pycache__/contacts_keyboard.cpython-312.pyc
keyboards/__pycache__/delete_request_keyboard.cpython-312.pyc
keyboards/__pycache__/select_animal_gender_keyboard.cpython-312.pyc
keyboards/__pycache__/start_keyboard.cpython-312.pyc
keyboards/__pycache__/to_start_menu_keyboard.cpython-312.pyc
keyboards/__pycache__/watch_animals_after_taking_keyboard.cpython-312.pyc
keyboards/__pycache__/watch_animals_ids_keyboard.cpython-312.pyc
keyboards/__pycache__/watch_animals_keyboard.cpython-312.pyc
keyboards/__pycache__/watch_guardianship_keyboard.cpython-312.pyc
keyboards/__pycache__/yes_or_no_keyboard.cpython-312.pyc
middlewares/__pycache__/__init__.cpython-312.pyc
middlewares/__pycache__/media_group_middleware.cpython-312.pyc
states/__pycache__/__init__.cpython-312.pyc
states/__pycache__/add_animal_state.cpython-312.pyc
states/__pycache__/add_news_state.cpython-312.pyc
states/__pycache__/delete_animal_state.cpython-312.pyc
states/__pycache__/guardianship_list_admin_state.cpython-312.pyc
states/__pycache__/update_animal_state.cpython-312.pyc
states/__pycache__/watch_animals_state.cpython-312.pyc
utils/__pycache__/add_animal_to_db.cpython-312.pyc
utils/__pycache__/add_base_tags_to_db.cpython-312.pyc
utils/__pycache__/generate_animal_card_by_state.cpython-312.pyc
utils/__pycache__/generate_animal_filter_message.cpython-312.pyc
utils/__pycache__/generate_animals_admin_list.cpython-312.pyc
utils/__pycache__/generate_guardianship_request_message.cpython-312.pyc
utils/__pycache__/generate_next_animal_card.cpython-312.pyc
utils/__pycache__/get_text_gender.cpython-312.pyc
utils/__pycache__/send_message_to_all_administrators.cpython-312.pyc
utils/__pycache__/update_animal_information.cpython-312.pyc
